@import "tailwindcss";

@theme {
  --color-bg: #0d1117;
  --color-bg2: #14181d;
  --color-text1: #dce0e7;
  --color-text2: #c2c7ce;
  --color-text3: #3e4348;
  --color-primary: #fdbb3d;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
